{% extends 'cat_template.html' %}

{% block title %}Cardiology{% endblock %}



{% block content %}

	<div>
		<p ><font color="	#A04000	" size="+2"><b>Dr Rahul Agarwal<b><br></font>
			<font color="#A04000">Qualifications :</font> MBBS , FCCCM , ACCDM</br>
			<font color="#A04000">Designation: </font>Jr Consultant</br>
			<font color="#A04000">Speciality:</font>Cardiac Sciences</br>
			<font color="#A04000">Location :</font> St.Johns Hospitals <p>
			<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
			
	</div>
	<div>
		<p ><font color="	#A04000	" size="+2"><b>Dr Anoop Agarwal<b><br></font>
			<font color="#A04000">Qualifications :</font> DM , FACC , FSCAI , FASE</br>
			<font color="#A04000">Designation: </font>Consultant</br>
			<font color="#A04000">Speciality:</font>Cardiac Sciences</br>
			<font color="#A04000">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
	<div>
		<p ><font color="	#A04000	" size="+2"><b>Dr Soma Raju<b><br></font>
			<font color="#A04000">Qualifications :</font> MBBS ,MD , DM</br>
			<font color="#A04000">Designation: </font>Senior Consultant and chief of cardiology</br>
			<font color="#A04000">Speciality:</font>Cardiac Sciences</br>
			<font color="#A04000">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
	<div>
		<p ><font color="	#A04000	" size="+2"><b>Dr Johann Christopher<b><br></font>
			<font color="#A04000">Qualifications :</font> MD , DNB</br>
			<font color="#A04000">Designation: </font>Consultant</br>
			<font color="#A04000">Speciality:</font>Cardiac Sciences</br>
			<font color="#A04000">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
	
		{% endblock %}