{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{% static 'image/logo.png' %}" style="width:15px;height:15px;">
	<img src="{% static 'image/logo.png' %}" /  >
	<title></title>
	<h1><b>Branches</b></h1>
	<style>
	.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}
</style>
</head>

<body>
	<div class="row">
  <div class="column">
    <img src="{% static 'image/hosp.jpg' %}"alt="hospitals" style="width:100%;height:260px"></br>
    Contact: 9113648829 , 080-40982106</br>
Address: St.Johns hospitals</br>
#101 , 80Feet Main Road</br>
Chandra Layout , Vijaynagar</br>
Bengaluru , karnataka</br>
Pin code: 560040</br>
  </div>
  <div class="column">
    <img src="{% static 'image/multispec.jpg' %}" alt="hospitals" style="width:500px;height:260px"></br>
     Contact: 8639907998 , 29983456</br>
Address : St.Johns hospitals</br>
#930 , Living Space unit 2</br>
1st D Main Road , Girinagar</br>
Bengaluru , Karnataka</br>
Pin code: 500049</br>
  </div>
  <div class="column">
    <img src="{% static 'image/multispec2.jpg' %}" alt="hospitals" style="width:100%;height:260px"></br>
Contact: 9491809075 , 23456678 </br>
Address : St.Johns hospitals</br>
#105 , 4th Block</br>
4th block , jaynagar</br>
Bengaluru ,karnataka</br>
Pin code: 500072</br>



  </div>
</div>



</body>
</html>