{% extends 'cat_template.html' %}

{% block title %}Cardiology{% endblock %}



{% block content %}

	<div>
		<p ><font color="	#CD5C5C	" size="+2"><b>Dr CH Murali Kondaiah<b><br></font>
			<font color="#CD5C5C">Qualifications :</font> MBBS , MS(ENT)</br>
			<font color="#CD5C5C">Designation: </font>Consultant</br>
			<font color="#CD5C5C">Speciality:</font>ENT</br>
			<font color="#CD5C5C">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
	<div>
		<p ><font color="	#CD5C5C	" size="+2"><b>Dr N Rajashekaram<b><br></font>
			<font color="#CD5C5C">Qualifications :</font> MBBS , Ms(ENT)</br>
			<font color="#CD5C5C">Designation: </font>Consultant</br>
			<font color="#CD5C5C">Speciality:</font>ENT</br>
			
			<font color="#CD5C5C">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
	<div>
		<p ><font color="#CD5C5C	" size="+2"><b>Dr Vishnu Swaroop<b><br></font>
			<font color="#CD5C5C">Qualifications :</font> MBBS , FRCS , DLO</br>
			<font color="#CD5C5C">Designation: </font>Head of the dept & chief consultant ENT and facial plastic surgoen</br>
			<font color="#CD5C5C">Speciality:</font>ENT</br>
			<font color="#CD5C5C">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
{% endblock %}	