{% extends 'cat_template.html' %}

{% block title %}Cardiology{% endblock %}



{% block content %}

	<div>
		<p ><font color="	#884EA0  	" size="+2"><b>Dr Supriya Maripalli<b><br></font>
			<font color="#884EA0  ">Qualifications :</font> MS(OBG)</br>
			<font color="#884EA0  ">Designation: </font>Consultant</br>
			<font color="#884EA0  ">Speciality:</font>Obstetrics & Gynecology</br>
			<font color="#884EA0  ">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
	<div>
		<p ><font color="	#884EA0  	" size="+2"><b>Dr Assam Jabeen Mir<b><br></font>
			<font color="#884EA0  ">Qualifications :</font> MS(OBG)</br>
			<font color="#884EA0  ">Designation: </font>Consultant</br>
			<font color="#884EA0  ">Speciality:</font>Obstetrics & Gynecology</br>
			<font color="#884EA0  ">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
	<div>
		<p ><font color="	#884EA0  	" size="+2"><b>Dr Kranthi Shilpa<b><br></font>
			<font color="#884EA0  ">Qualifications :</font> MBBS , MS(OBGY)</br>
			<font color="#884EA0  ">Designation: </font>Consultant</br>
			<font color="#884EA0  ">Speciality:</font>Obstetrics & Gynecology</br>
			<font color="#884EA0  ">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
	<div>
		<p ><font color="	#884EA0  	" size="+2"><b>Dr Usha Suresh<b><br></font>
			<font color="#884EA0  ">Qualifications :</font> MD , DGO</br>
			<font color="#884EA0  ">Designation: </font>Consultant</br>
			<font color="#884EA0  ">Speciality:</font>Obstetrics & Gynecology</br>
			<font color="#884EA0  ">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
{% endblock %}