
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--<div class="w3-content w3-display-container">
  
  <img class="mySlides" src="{% static 'image/neurology3.jpg' %}" style="width:100%">
  <img class="mySlides" src="{% static 'image/oncologynew.jpg' %}" style="width:100%">
  <img class="mySlides" src="{% static 'image/kidscheckup.jpg' %}" style="width:100%">
  <img class="mySlides" src="{% static 'image/onco2.jpg' %}" style="width:100%">

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>
-->

<div class="slideshow-container" >

<div class="mySlides fade" style = "max-height:50%;">
  <div class="numbertext">1 / 3</div>
  <img src="{% static 'image/neurology3.jpg' %}" style="width:100%">
  <div class="text">Neurology</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="{% static 'image/pedia3.jpg' %}" style="width:100%">
  <div class="text">Pediatrics</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="{% static 'image/dent1.jpg' %}" style="width:100%">
  <div class="text">Dentistry</div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>



<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>

{% endblock %}


	