{% extends 'cat_template.html' %}

{% block title %}Cardiology{% endblock %}



{% block content %}

	<div>
		<p ><font color="	#D35400	" size="+2"><b>Dr T V Rama Krishna Murthy<b><br></font>
			<font color="#D35400">Qualifications :</font> MBBS ,Mch(Neurosurgery)</br>
			<font color="#D35400">Designation: </font>Consultant</br>
			<font color="#D35400">Speciality:</font>Neurosciences</br>
			<font color="#D35400">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
	<div>
		<p ><font color="	#D35400	" size="+2"><b>Dr Syed Ameer Basha Paspala<b><br></font>
			<font color="#D35400">Qualifications :</font> MCh , Phd , AANS</br>
			<font color="#D35400">Designation: </font>Consultant</br>
			<font color="#D35400">Speciality:</font>Neurosciences</br>
			<font color="#D35400">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
	<div>
		<p ><font color="	#D35400	" size="+2"><b>Dr Shyam K Jaiswal<b><br></font>
			<font color="#D35400">Qualifications :</font> MD ,DNB</br>
			<font color="#D35400">Designation: </font> Jr Consultant</br>
			<font color="#D35400">Speciality:</font>Neuro sciences</br>
			<font color="#D35400">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
	<div>
		<p ><font color="	#D35400	" size="+2"><b>Dr J M K Murthy<b><br></font>
			<font color="#D35400">Qualifications :</font> MD , Dm , FAMS , FAAN</br>
			<font color="#D35400">Designation: </font>Consultant</br>
			<font color="#D35400">Speciality:</font>Neuro Sciences</br>
			<font color="#D35400">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
{% endblock %}