{% extends 'cat_template.html' %}

{% block title %}Cardiology{% endblock %}



{% block content %}

	<div>
		<p ><font color="	#117A65	" size="+2"><b>Dr Anil Arbandi<b><br></font>
			<font color="#117A65">Qualifications :</font> MD , MRCP , CCT</br>
			<font color="#117A65">Designation: </font>Consultant Haemato oncologist</br>
			<font color="#117A65">Speciality:</font>Oncology</br>
			<font color="#117A65">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
	<div>
		<p ><font color="	#117A65	" size="+2"><b>Dr Prithvi Raj Jampana<b><br></font>
			<font color="#117A65">Qualifications :</font> MBBS , MRCP(Gen Med) , FRCR , CCT</br>
			<font color="#117A65">Designation: </font>Consultant Medical and Radiation Oncologist</br>
			<font color="#117A65">Speciality:</font>Oncology</br>
			
			<font color="#117A65">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
	<div>
		<p ><font color="#117A65	" size="+2"><b>Dr Srinivas Juluri<b><br></font>
			<font color="#117A65">Qualifications :</font> MS , MRCS , M.Ch</br>
			<font color="#117A65">Designation: </font>Director - Surgical Oncologist</br>
			<font color="#117A65">Speciality:</font>Oncology</br>
			<font color="#117A65">Location :</font> St.Johns Hospitals <p>
				<a href = "{% url 'app_new' %}" ><button class="button"  >Book Appointment</button></a>
	</div>
{% endblock %}	